.input-container {
    margin-bottom: 20px;
}

input::placeholder, textarea::placeholder, select, .form__label {
    color: #aca49c;
    font-size: 16px;
}

input {
    color: #746d66;
}

input:hover::placeholder {
    color: #fefefe;
}

input:hover, textarea:hover, select:hover {
    color: #fefefe;
    background: #b3aca7;
    transition: all 0.3s ease-in-out;
}

.form {
    background-color: #fbf8f7;
    color: #000;
    border: 1px solid #b3aca7;
    padding: 30px;
    margin-top: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form__input, .form__select, .form__textarea, .form__submit {
    background: transparent;
    outline: none;
    border: 1px solid #b3aca7;
    font-size: 16px;
    max-width: 280px;
    padding: 10px;
}

.form__label p {
    margin-bottom: 5px;
}

.form__submit:hover {
    color: #fff;
    background: #000;
}

.form__submit {
    transition: all 0.3s ease-in-out;
}

.error {
    border: 1px solid red;
}

.error__message {
    color: red;
    opacity: 0.8
}

@media (max-width: 536px) {
    .form {
        padding: 20px 10px;
    }
}