* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    width: 100%;
}

.orders__item, .categories {
    list-style: none;
}

.header {
    padding: 10px 0;
    background: #000;
}

.header__container {
    justify-content: space-between;
}

.header__btn {
    background: transparent;
    border: none;
    color: #fff;
}

.logo__img {
    width: 100px;
}

.container {
    max-width: 1464px;
    margin: 0 auto;
    display: flex;
}

.header__btns {
    display: flex;
    gap: 20px;
}

.categories__container {
    flex-basis: 20%;
    padding: 30px 0;
}

.container-title {
    font-size: 16px;
}

.orders, .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.orders__item {
    max-width: 235px;
    min-width: 235px;
    font-size: 14px;
    color: #000;
    background: #fff;
    border: 1px solid #dddddd;
    transition: all 500ms ease-out;
}

.order__label {
    display: block;
    padding: 10px;
}

.order__checkbox {
    display: none;
}

.order__span {
    opacity: 0.8;
    font-weight: 500;
}

.order__checkbox:checked ~ .order__label {
    border-bottom: 1px solid #dddddd;
}

.order__details {
    max-height: 0;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    background: #fff;
    transition: all 500ms ease-out;
}

.order__details p {
    margin-bottom: 5px;
}

.order__cancel {
    margin-top: 10px;
    background: transparent;
    border: none;
    color: red;
    opacity: 0.8;
}

.message {
    opacity: 0.8;
}

.active {
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 1000px;
}

.products__container {
    padding-top: 30px;
    flex-basis: 45%;
}

.product-info__container {
    padding: 30px;
    max-width: 700px;
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-info__paragraph {
    font-size: 18px;
}

.price {
    font-size: 20px;
    color: red;
    font-weight: 700;
}

.products__container {
    display: flex;
    justify-content: center;
}

.products-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.product__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product {
    max-width: 355px;
    width: 48%;
}

.product__img-container {
    max-height: 500px;
    overflow: hidden;
}

.product__img {
    height: inherit;
}

.product__name {
    font-weight: 400;
    font-size: 16px;
}

.product-info__price {
    font-size: 20px;
    font-weight: 600;
}

.category__item {
    font-size: 16px;
    padding-bottom: 5px;
    margin: 10 auto;
}

.chosen-category {
    font-weight: 700;
}

.btn {
    padding: 10px 60px;
    background: transparent;
    border: 1px solid #000;
    font-size: 16px;
}

.product-info__btn:hover {
    background: #000;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}

@media (max-width: 1150px) {
    section .container {
        flex-direction: column;
    }

    .container {
        padding: 0 20px;
    }

    .orders, .categories {
        flex-direction: row;
        align-items: flex-start;
        overflow-x: scroll;
        gap: 20px;

    }

    .categories__container {
        padding: 15px 0;
    }

    .products__container {
        padding-top: 0;
    }

    .products-list {
        flex-wrap:nowrap;
        overflow-x: scroll;
        padding-bottom: 20px;
    }

    .products-list::-webkit-scrollbar {
        height: 5px;
        background: transparent;
    }

    .products-list::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #c9c9c9;
    }

    .product {
        max-width: none;
        min-width: 280px;
    }

    .product-info__container {
        padding: 30px 0 0 0;
    }
}



@media (max-width: 536px) {
    .product {
    flex: 1 1 auto;
}

.header {
    padding: 5px 0;
}

}
