.input-container {
    margin-bottom: 20px;
}

.form {
    background-color: #f4f4f4;
    color: #000;
    border: 1px solid #000;
    padding: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form__input, .form__select, .form__textarea, .form__submit {
    font-size: 16px;
    border: 1px solid #000;
    width: 280px;
    padding: 10px;
}

.form__label p {
    margin-bottom: 5px;
}

.form__submit:hover {
    color: #fff;
    background: #000;
}

.error {
    border: 1px solid red;
}

.error__message {
    color: red;

}